{% extends "base.html" %}
{% block title %}Menu Principal{% endblock %}
{% block content %}
<h2 class="mb-4">Menu Principal</h2>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/atencion" class="btn btn-success">Atención al Cliente 🍟</a>
    <a href="/cocina" class="btn btn-success">Modulo para cocina 🧑‍🍳</a>
    <a href="/facturas" class="btn btn-success">Revisar Facturas ✅</a>
    <a href="/inventario" class="btn btn-secondary">Manejar inventario 🥔</a>
    <a href="/informe" class="btn btn-secondary">Informe Financiero 📊</a>
</div>
{% endblock %}
