{% extends "base.html" %}
{% block title %}Menu Principal{% endblock %}
{% block content %}
<h2 class="mb-4">🍴 Menu Principal</h2>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/pedidos" class="btn btn-success">📜 Modulo de Pedidos</a>
    <a href="/atencion" class="btn btn-secondary">📞 Atención al Cliente</a>
    <a href="/cocina" class="btn btn-secondary">🍳 Cocina</a>
    <a href="/facturas" class="btn btn-secondary">📄 Revisar Facturas</a>
    <a href="/informe" class="btn btn-secondary">📊 Informe Financiero</a>
</div>
{% endblock %}
