{% extends "base.html" %}
{% block title %}Resumen de Pedido{% endblock %}
{% block content %}
<h2>📝 Resumen de Pedido</h2>
<ul class="list-group">
    {% for item in pedido %}
    <li class="list-group-item">
        {{ item.producto }} - {{ item.tamano }} - Cantidad: {{ item.cantidad }}
        {% if item.adicion %} | Adición: {{ item.adicion }}{% endif %}
        {% if item.detalle %} | Detalle: {{ item.detalle }}{% endif %}
    </li>
    {% endfor %}
</ul>
<a href="/pedidos" class="btn btn-link mt-3">Crear nuevo pedido</a>
{% endblock %}
